﻿


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Index</h2>
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="right">
        <a href="@Url.Action("InputForm")" class="button">Create New User</a>
    </div>
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Simple Table
            </div>
            <div class="tools">
                <a title="" class="collapse" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="config" href="#portlet-config" data-original-title="" data-toggle="modal">
                </a>
                <a title="" class="reload" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="remove" href="javascript:;" data-original-title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <form method="post" data-ajax-update="#updatePanel" data-ajax-mode="replace" data-ajax="true" data-ajax-loading="#loader">
                    <input type="text" name="keyword" placeholder="Name or User ID" value="@ViewBag.keyword" />
                    <input type="submit" value="Serach" />

                </form>
                <div id="updatePanel">
                    @Html.Partial("Table")
                </div>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
