﻿@using PagedList;
@using PagedList.Mvc;
@{
    var pagedListObj = (PagedList<BECIT.NEOS.Admin.Models.UserModel>)ViewBag.pagedListObj;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                User ID
            </th>
            <th>
                Title
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Last Login
            </th>
            <th>
                User Role
            </th>
            <th>
                Tool
            </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in pagedListObj)
        {
            i++;
            <tr>

                <td>
                    @i
                </td>
                <td>
                    @item.userid
                </td>
                <td>
                    @item.title
                </td>
                <td>
                    @item.fname
                </td>
                <td>
                    @item.lname
                </td>
                <td>
                    @item.lastLogin
                </td>
                <td>
                    @item.AppUsreRoleDesc
                </td>
                <td>
                    <a class="btn default btn-xs purple" href="@Url.Action("InputForm", new { id = item.userid })"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="Paging">
    @Html.PagedListPager(pagedListObj, Page => Url.Action("index", new { Page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "updatePanel" }))
</div>