﻿@using PagedList;
@using PagedList.Mvc;

@model PagedList <BECIT.NEOS.Admin.Models.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Index</h2>
<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="right">
        <a href="@Url.Action("InputForm")" class="button">Create New User</a>
    </div>
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Simple Table
            </div>
            <div class="tools">
                <a title="" class="collapse" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="config" href="#portlet-config" data-original-title="" data-toggle="modal">
                </a>
                <a title="" class="reload" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="remove" href="javascript:;" data-original-title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <form method="post">
                    <input type="text" name="keyword" placeholder="Name or User ID" value="@ViewBag.keyword"/>
                    <input type="submit" value="Serach"/>

                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                User ID
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Last Login
                            </th>
                            <th>
                                User Role
                            </th>
                            <th>
                                Tool
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model)
                    { 
                        i++;
                        <tr>
                          
                            <td>
                                @i
                            </td>
                            <td>
                                @item.userid
                            </td>
                            <td>
                                @item.title
                            </td>
                            <td>
                                @item.fname
                            </td>
                            <td>
                                @item.lname
                            </td>
                            <td>
                                @item.lastLogin
                            </td>
                            <td>
                                @item.AppUsreRoleDesc
                            </td>
                            <td>
                                <a class="btn default btn-xs purple" href="@Url.Action("InputForm", new { id = item.userid })"><i class="fa fa-edit"></i></a> 
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div id="Paging">
                    @Html.PagedListPager(Model, Page => Url.Action("index", new { Page}))
                </div>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
