﻿@model BECIT.NEOS.Admin.Models.UserModel

@{
    ViewBag.Title = "InputForm";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>User InputForm</h2>
<div class="col-md-12">
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Basic Validation
            </div>
            <div class="tools">
                <a title="" class="collapse" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="config" href="#portlet-config" data-original-title="" data-toggle="modal">
                </a>
                <a title="" class="reload" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="remove" href="javascript:;" data-original-title="">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" id="form_sample_1" method="post" novalidate="novalidate">
                <div class="form-body">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        Your form validation is successful!
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            UserId <span class="required" aria-required="true">
                                *
                            </span>
                        </label>
                        <div class="col-md-4">
                            <input name="userid" class="form-control" type="text" data-required="1" value="@Model.userid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            title <span class="required" aria-required="true">
                                *
                            </span>
                        </label>
                        <div class="col-md-4">
                            <input name="title" class="form-control" type="text" data-required="1" value="@Model.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            fname <span class="required" aria-required="true">
                                *
                            </span>
                        </label>
                        <div class="col-md-4">
                            <input name="fname" class="form-control" type="text" data-required="1" value="@Model.fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            lname <span class="required" aria-required="true">
                                *
                            </span>
                        </label>
                        <div class="col-md-4">
                            <input name="lname" class="form-control" type="text" data-required="1" value="@Model.lname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Email <span class="required" aria-required="true">
                                *
                            </span>
                        </label>
                        <div class="col-md-4">
                            <input name="email" class="form-control" type="text" value="@Model.email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">
                            User Role <span class="required" aria-required="true">
                                *
                            </span>
                        </label>
                        <div class="col-md-4">
                            <select name="AppUsreRoleCode" class="form-control">
                                <option value="">Select...</option>
                                <option value="SUPERADMIN">Super Admin</option>
                                <option value="ADMIN">Admin</option>
                                <option value="OPERATOR">Operator</option>
                                <option value="APPROVER">Approver</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn green" type="submit">Submit</button>
                            <button class="btn default" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END VALIDATION STATES-->
</div>

@section scripts
{
    <script type="text/javascript" src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script>

        // for more info visit the official plugin documentation:
        // http://docs.jquery.com/Plugins/Validation

        var form1 = $('#form_sample_1');
        var error1 = $('.alert-danger', form1);
        var success1 = $('.alert-success', form1);

        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",  // validate all fields including form hidden input
            messages: {
                userid: "กรุณาระบุ User ID",
            },
            rules: {
                userid: {
                    minlength: 2,
                    required: true
                },
                title: {
                    minlength: 2,
                    required: true
                },
                fname: {
                    minlength: 2,
                    required: true
                },
                lname: {
                    minlength: 2,
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },

                AppUsreRoleCode: {
                    required: true
                }
            },

            invalidHandler: function (event, validator) { //display error alert on form submit
                success1.hide();
                error1.show();
                Metronic.scrollTo(error1, -200);
            },

            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            success: function (label) {
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
            },


        });
    </script>

   }