﻿@{
    @model BECIT.NEOS.Admin.Models.UserFilterModel
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Report Viewer</h2>
<form method="post">
    <input type="text" name="userid" placeholder="Name or User ID" value="@Model.userid" />
    <input type="text" name="fname" placeholder="Name or User ID" value="@Model.fname" />
    <input type="text" name="lname" placeholder="Name or User ID" value="@Model.lname" />
    <input type="text" name="lastLoginFrom" placeholder="Name or User ID" value="@Model.lastLoginFrom" />
    <input type="text" name="lastLoginTo" placeholder="Name or User ID" value="@Model.lastLoginTo" />

    <input type="submit" value="View" />
</form>
<iframe src="@Url.Content("~/ASPX/UserReport.aspx?p=" + @ViewBag.jsonQueryString)" width="100%" height="550px;"></iframe>
