﻿<style>
    .panel-heading {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
</style>

<div>
    <div class="panel-heading">
        <h3 class="panel-title">My Profile</h3>
    </div>
    <div class="profile-userpic">
        <img class="img-responsive" height="120" alt="" src="../../assets/admin/pages/media/profile/profile_user.jpg">
    </div>
    Name : @ViewBag.fname  @ViewBag.lname <br />
    Last Login : @ViewBag.lastLogin
</div>