﻿@model BECIT.NEOS.Admin.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>Register</h2>
<form method="post">
    Fname<input type="text" name="fname" value="@Model.fname" /><br />
    Lname<input type="text" name="lname" value="@Model.lname" /><br />
    Email<input type="text" name="email" value="@Model.email" /><br />
    <button type="submit" value="Submit"></button>
</form>
