﻿@model BECIT.NEOS.Admin.Models.RegisterModel

@{
    ViewBag.Title = "Register2";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<style>
    .input-green
    {
        border:solid 1px #b6ff00;
    }

</style>

<h2>Register2</h2>
@using (Html.BeginForm())
{
    <span>Fname</span> @Html.TextBoxFor(x => x.fname, new { @class = "input-green" }) <br />
    <span>Lname</span> @Html.TextBoxFor(x => x.lname) <br />
    <span>Email</span> @Html.TextBoxFor(x => x.email) <br />
    <input type="submit" value="Submit"/>
}


<form method="post">
    Fname<input type="text" class="input-green" name="fname" value="@Model.fname" /><br />
    Lname<input type="text" name="lname" value="@Model.lname" /><br />
    Email<input type="text" name="email" value="@Model.email" /><br />
    <button type="submit" value="Submit"></button>
</form>

@section scripts{}
